<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite thread-count="3" parallel="tests" name="Suite_Parallel">
	
	<listeners>
		<listener class-name="report.ExtentReportListener" />
		<listener class-name="utilities.RetryListener" />
	</listeners>
		
  <test  name="Test Parallel Home and Dashboard modules.Browser:Chrome">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
	  <class name="base.BaseTest"/>      
      <class name="pageTestEvents.LandingPageEvents"/>   
      <class name="pageTestEvents.DashBoardPageEvents"/>  
	</classes>
  </test> <!-- Test_Parallel --> 
  <test  name="Test Parallel SignIn and Register modules.Browser:chrome ">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
		<class name="base.BaseTest"/>
      <class name="pageTestEvents.SignInPageEvents"/>     
      <class name="pageTestEvents.RegisterPageEvents"/> 
      
    </classes>
  </test> <!-- Test_Parallel -->
  
   <test name="Test Parallel Array module.Browser:chrome">
	   <parameter name="browser" value="chrome"></parameter>
    <classes>     
      <class name="base.BaseTest"/>  
         <class name="pageTestEvents.ArrayPageEvents"/> 
       </classes>
  </test>   
 <test name="Test Parallel LinkedList module.Browser:chrome">
	   <parameter name="browser" value="chrome"></parameter>
    	<classes>     
     	 	<class name="base.BaseTest"/>  
      		<class name="pageTestEvents.LinkedListPageEvents"/>     
   		</classes>
  </test>
  
  <test name="Test Parallel Stack module.Browser:chrome">
	   <parameter name="browser" value="chrome"></parameter>
    	<classes>     
     	 	<class name="base.BaseTest"/>  
      		<class name="pageTestEvents.StackPageEvents"/>     
   		</classes>
  </test>
  
 <test name="Test Parallel Queue module.Browser:chrome">
	   <parameter name="browser" value="chrome"></parameter>
    	<classes>     
     	 	<class name="base.BaseTest"/>  
      		<class name="pageTestEvents.QueuePageEvents"/>     
   		</classes>
  </test>
  
     <test name="Test Parallel Tree module.Browser:chrome">
	   <parameter name="browser" value="chrome"></parameter>
    	<classes>     
     	 	<class name="base.BaseTest"/>  
      		<class name="pageTestEvents.TreePageEvents"/>     
   		</classes>
  </test>
     <test name="Test Parallel Graph module.Browser:Chrome">
	   <parameter name="browser" value="chrome"></parameter>
    	<classes>     
     	 	<class name="base.BaseTest"/>  
      		<class name="pageTestEvents.GraphPageEvents"/>     
   		</classes>
  </test>
  
</suite> <!-- Suite_Parallel -->